<div id="<%= dom_id order_line_item %>">
  <p>
    <strong>Order:</strong>
    <%= order_line_item.order_id %>
  </p>

  <p>
    <strong>Rental:</strong>
    <%= order_line_item.rental_id %>
  </p>

  <p>
    <strong>Due datetime:</strong>
    <%= order_line_item.due_datetime %>
  </p>

</div>
